# Esc+m--出来markdown界面
# Fire up Graphlab Create

In [4]:
import graphlab
sf = graphlab.SFrame('people-example.csv')

This non-commercial license of GraphLab Create for academic use assigned to zlcharon@163.com has expired. Please contact contact@turi.com for renewal options.

InvalidLicense: License check failed.

In [2]:
sf #we view few lines of

NameError: name 'sf' is not defined

In [ ]:
sf.head()

In [ ]:
sf.tail()

In [5]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:55597/index.html
Opening Canvas in default web browser.

In [11]:
graphlab.canvas.set_target('ipynb')

In [15]:
sf['age'].show(view='Categorical')

In [18]:
#Inspect columns of dataset

In [19]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [20]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [21]:
sf['age'].mean()

23.142857142857146

In [23]:
sf['age'].max()

25

In [24]:
#Create new columns in our SFrame

In [25]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [28]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [29]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [31]:
sf['age'] * sf['age']

dtype: int
Rows: 7
[576, 529, 484, 529, 529, 484, 625]

# Use the apply function to do a advance transformation of our data

In [2]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [3]:
sf['Country'].show()

Canvas is accessible via web browser at the URL: http://localhost:56125/index.html
Opening Canvas in default web browser.

In [4]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [5]:
transform_country('Brazil')

'Brazil'

In [6]:
transform_country('USA')

'United States'

In [7]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [8]:
sf['Country'] = sf['Country'].apply(transform_country)

In [9]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   | United States |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]